releases/v3.0.0/yoluster-shorts-v3.0.0-docker-local-package-thin-bundle.zip -text
releases/v3.0.0/yoluster-shorts-v3.0.0-docker-local-package-thin-release.json -text
releases/v3.0.0/yoluster-shorts-v3.0.0-docker-local-package-thin-release.sha256 -text
